# My .gitignore file types
*.docx
*.txt
*.pptx
*.xlsx
*.png
/writing/*
/images/*
/notebooks/*
/figures/*
/networks/*
/data/*
/paraview/*
/movies/*
scripts/__pycache__
scripts/mypnmlib/models/__pycache__
scripts/mypnmlib/models/__pycache__
scripts/mypnmlib/network/__pycache__
scripts/mypnmlib/__pycache__
scripts/mypnmlib/generators/__pycache__
scripts/mypnmlib/simulations/__pycache__
scripts/network/__pycache__
scripts/collection/__pycache__
scripts/collection/geometry/__pycache__
scripts/collection/phase/__pycache__
scripts/collection/geometry/interface/__pycache__
scripts/collection/geometry/macropore/__pycache__
scripts/collection/geometry/micropore/__pycache__
scripts/collection/geometry/separator/__pycache__
scripts/collection/physics/__pycache__
scripts/models/__pycache__
scripts/models/conduit_lengths/__pycache__
scripts/models/diffusive_size_factors/__pycache__
scripts/models/effective_volume/__pycache__
scripts/models/hydraulic_size_factors/__pycache__
scripts/models/misc/__pycache__
scripts/models/pore_volume/__pycache__
scripts/models/throat_diameter/__pycache__
scripts/models/throat_length/__pycache__
scripts/models/throat_volume/__pycache__
scripts/properties/__pycache__
scripts/algorithms/__pycache__
scripts/pnmlib/io/__pycache__
scripts/models/numpy/throat_volume/__pycache__
scripts/models/numpy/throat_length/__pycache__
scripts/models/numpy/throat_diameter/__pycache__
scripts/models/numpy/pore_volume/__pycache__
scripts/models/numpy/misc/__pycache__
scripts/models/numpy/hydraulic_size_factors/__pycache__
scripts/models/numpy/effective_volume/__pycache__
scripts/models/numpy/diffusive_size_factors/__pycache__
scripts/models/numpy/conduit_lengths/__pycache__
scripts/models/numpy/__pycache__
scripts/models/jax/throat_volume/__pycache__
scripts/models/jax/throat_length/__pycache__
scripts/models/jax/pore_volume/__pycache__
scripts/models/jax/misc/__pycache__
scripts/models/jax/hydraulic_size_factors/__pycache__
scripts/models/jax/effective_volume/__pycache__
scripts/models/jax/diffusive_size_factors/__pycache__
scripts/models/jax/conduit_lengths/__pycache__
scripts/models/jax/__pycache__
scripts/collection/numpy/physics/__pycache__
scripts/collection/numpy/phase/__pycache__
scripts/collection/numpy/geometry/separator/__pycache__
scripts/collection/numpy/geometry/micropore/__pycache__
scripts/collection/numpy/geometry/macropore/__pycache__
scripts/collection/numpy/geometry/interface/__pycache__
scripts/collection/numpy/geometry/__pycache__
scripts/collection/numpy/__pycache__
scripts/collection/jax/physics/__pycache__
scripts/collection/jax/phase/__pycache__
scripts/collection/jax/geometry/separator/__pycache__
scripts/collection/jax/geometry/micropore/__pycache__
scripts/collection/jax/geometry/macropore/__pycache__
scripts/collection/jax/geometry/__pycache__
scripts/collection/jax/__pycache__
scripts/pnmlib/__pycache__
scripts/pnmlib/network/__pycache__
scripts/pnmlib/optimize/__pycache__
scripts/pnmlib/models/physics/ad_dif_conductance/__pycache__
scripts/pnmlib/models/physics/diffusive_conductance/__pycache__
scripts/pnmlib/models/physics/hydraulic_conductance/__pycache__
scripts/pnmlib/models/physics/__pycache__
scripts/pnmlib/models/geometry/throat_volume/__pycache__
scripts/pnmlib/models/misc/__pycache__
scripts/pnmlib/models/geometry/throat_length/__pycache__
scripts/pnmlib/models/geometry/pore_volume/__pycache__
scripts/pnmlib/models/geometry/hydraulic_size_factors/__pycache__
scripts/pnmlib/models/geometry/diffusive_size_factors/__pycache__
scripts/pnmlib/models/__pycache__
scripts/pnmlib/algorithms/__pycache__
scripts/pnmlib/models/geometry/__pycache__
scripts/models/jax/electrical_double_layer/__pycache__
scripts/pnmlib/models/geometry/conduit_lengths/__pycache__
