# My .gitignore file types
*.docx
*.txt
*.pptx
*.xlsx
*.png
/writing/*
/images/*
/notebooks/*
/figures/*
/networks/*
/data/*
/paraview/*
scripts/__pycache__
scripts/mypnmlib/models/__pycache__
scripts/mypnmlib/models/__pycache__
scripts/mypnmlib/network/__pycache__
scripts/mypnmlib/__pycache__
scripts/mypnmlib/generators/__pycache__
scripts/mypnmlib/simulations/__pycache__
scripts/network/__pycache__
scripts/collection/__pycache__
scripts/collection/geometry/__pycache__
scripts/collection/phase/__pycache__
scripts/collection/geometry/interface/__pycache__
scripts/collection/geometry/macropore/__pycache__
scripts/collection/geometry/micropore/__pycache__
scripts/collection/geometry/separator/__pycache__
scripts/collection/physics/__pycache__
scripts/models/__pycache__
scripts/models/conduit_lengths/__pycache__
scripts/models/diffusive_size_factors/__pycache__
scripts/models/effective_volume/__pycache__
scripts/models/hydraulic_size_factors/__pycache__
scripts/models/misc/__pycache__
scripts/models/pore_volume/__pycache__
scripts/models/throat_diameter/__pycache__
scripts/models/throat_length/__pycache__
scripts/models/throat_volume/__pycache__
scripts/properties/__pycache__
